<div class="container">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block idropdown">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Grieven *
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div class="top-selection">
            <button
              *ngFor="let reason of getTopReasons(reasons, 4)"
              (click)="onClick(reason)"
              ngbDropdownItem
            >
              {{ reason.id }} - {{ reason.title }}
            </button>
          </div>
          <div class="dropdown-divider"></div>
          <button
            *ngFor="let reason of sortByTitle(reasons)"
            ngbDropdownItem
            (click)="onClick(reason)"
          >
            {{ reason.id }} - {{ reason.title }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
